body {
overflow-anchor: none;
overflow-x: clip;
overflow-y: hidden;
margin: 0;
color: rgb(255, 225, 95);
background-color: rgb(25, 0, 50);
font-family: 'Century Gothic';
font-size: 30px;
font-weight: 600;
}
p {
margin: 0;
}
div, button, input, header, span, img {
box-sizing: border-box;
}
span.clickable {
cursor: pointer;
}
a {
color: inherit;
text-decoration: inherit;
width: fit-content;
height: fit-content;
}
::selection {
background-color: rgb(255, 215, 30);
color: rgb(20, 0, 40);
}
::-webkit-scrollbar {
display: none;
}
::-webkit-scrollbar-thumb {
display: none;
}
header {
font-family: 'Bauhaus 93';
font-size: 75px;
color: rgb(255, 215, 30);
background-color: rgb(20, 0, 40);
border-bottom: 4px solid rgb(255, 215, 30);
width: 100vw;
height: 100px;
user-select: none;
box-shadow: 0 5px 15px 0 rgb(0, 0, 0);
display: flex;
padding-left: 25px;
z-index: 4;
position: relative;
}
div.home_main_content {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
z-index: 1;
position: relative;
}
img.logo {
width: 0.9em;
height: 0.9em;
}
main {
overflow-y: auto;
height: 85vh;
padding-bottom: 15vh;
}
div.movie_card {
height: 450px;
width: 650px;
margin: 25px;
background-color: rgb(30, 0, 60);
border-radius: 25px;
box-shadow: 0 0 20px 5px rgb(0, 0, 0);
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}
div.movie_card.active {
animation-name: cart_highlight;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-in;
}
div.movie_card.inactive {
animation-name: cart_highlight_back;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-out;
}
div.movie_side_info {
display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 325px;
height: 425px;
}
img.movie_poster {
width: 250px;
height: 375px;
border: 4px solid rgb(255, 225, 95);
border-radius: 10px;
user-select: none;
}
div.movie_card.active img.movie_poster {
animation-name: poster_highlight;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-in;
}
div.movie_card.inactive img.movie_poster {
animation-name: poster_highlight_back;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-out;
}
p.movie_title {
display: inline;
font-size: 45px;
}
p.movie_subtitle {
display: inline;
font-size: 15px;
}
p.movie_price {
display: inline;
font-size: 30px;
}
div.schedule_section {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: flex-start;
height: 200px;
}
span.movie_showtime {
font-size: 15px;
background-color: rgb(255, 225, 95);
color: rgb(20, 0, 40);
border-radius: 20px;
padding-left: 5px;
padding-right: 5px;
margin: 5px;
}
div.movie_card.active span.movie_showtime {
animation-name: showtime_highlight;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-in;
}
div.movie_card.inactive span.movie_showtime {
animation-name: showtime_highlight_back;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-out;
}
div.search_section {
display: flex;
align-items: center;
justify-content: center;
height: 75px;
width: 100vw;
border-bottom: 2px solid rgb(255, 225, 95);
z-index: 2;
position: relative;
}
img.input_icon {
position: absolute;
height: 1em;
width: 1em;
margin-left: 10px
}
div.search_input {
width: 250px;
height: 50px;
display: flex;
align-items: center;
margin-left: 5px;
margin-right: 5px;
}
input.search_input {
background-color: rgb(25, 0, 50);
font-family: inherit;
font-size: inherit;
font-weight: inherit;
width: 250px;
height: 50px;
border-radius: 20px;
color: rgb(255, 225, 95);
border: 2px solid rgb(255, 225, 95);
outline: none;
padding-left: 45px;
}
input.search_input:focus {
color: rgb(255, 215, 30);
border: 2px solid rgb(255, 215, 30);
}
input.search_input::placeholder {
color: rgb(255, 225, 95);
font-weight: 100;
}
div.parameter_section {
margin-left: 5px;
margin-right: 5px;
transform: translate(0px, 0px);
position: relative;
}
div.parameter_section.active_menu {
z-index: 3;
}
span.parameter_button {
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border: 2px solid rgb(255, 225, 95);
border-radius: 20px;
}
span.parameter_button img, span.check_button img, span.unselect_all img {
width: 1em;
height: 1em;
user-select: none;
}
div.parameter_menu {
width: 400px;
height: 400px;
position: fixed;
background-color: rgb(30, 0, 60);
border-radius: 20px;
top: 40px;
left: -175px;
box-shadow: 0 0 10px 0 rgb(0, 0, 0);
overflow-y: scroll;
padding-top: 10px;
padding-bottom: 10px;
display: flex;
flex-direction: column;
align-items: center;
}
p.menu_title {
font-size: 30px;
text-align: center;
}
div.range_values {
display: flex;
font-size: 15px;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
width: 100%;
}
div.range_slider {
margin-top: 10px;
margin-bottom: 10px;
width: 350px;
border: 10px solid rgb(20, 0, 40);
border-radius: 20px;
}
div.range_slider input {
position: absolute;
width: 350px;
transform: translate(-10px, -55%);
background: none;
appearance: none;
pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
width: 30px;
height: 30px;
appearance: none;
background-color: rgb(255, 225, 95);
border-radius: 20px;
pointer-events: auto;
cursor: pointer;
}
div.genres_section {
display: flex;
flex-wrap: wrap;
padding-left: 5px;
}
div.checkbox_section {
display: flex;
font-size: 20px;
padding: 5px;
align-items: center;
}
div.checkbox_section input {
height: 30px;
width: 30px;
margin: 0;
opacity: 0;
position: absolute;
cursor: pointer;
}
span.check_button {
border: 2px solid rgb(255, 225, 95);
height: 30px;
width: 30px;
border-radius: 20px;
margin-right: 5px;
display: flex;
align-items: center;
justify-content: center;
}
div.order_sort_section {
border-radius: 20px;
border: 2px solid rgb(255, 225, 95);
font-size: 15px;
width: 375px;
height: 50px;
display: flex;
align-items: center;
}
div.order_sort_section span {
width: 125px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
border: 1px solid rgb(255, 225, 95);
}
div.order_sort_section span.left {
border-radius: 20px 0 0 20px;
border-right: 1px solid rgb(255, 225, 95);
margin-left: -1px;
}
div.order_sort_section span.center {
border-right: 1px solid rgb(255, 225, 95);
border-left: 1px solid rgb(255, 225, 95);
}
div.order_sort_section span.right {
border-radius: 0 20px 20px 0;
border-left: 1px solid rgb(255, 225, 95);
margin-right: -1px;
}
div.criteria_sort_section {
border-radius: 20px;
border: 2px solid rgb(255, 225, 95);
width: 375px;
display: flex;
flex-direction: column;
align-items: center;
font-size: 30px;
}
div.criteria_sort_section span {
width: 375px;
height: 40px;
padding-left: 25px;
cursor: default;
display: flex;
align-items: center;
}
div.criteria_sort_section span.top {
border-bottom: 1px solid rgb(255, 225, 95);
border-radius: 20px 20px 0 0;
margin-top: -1px;
}
div.criteria_sort_section span.center {
border-bottom: 1px solid rgb(255, 225, 95);
border-top: 1px solid rgb(255, 225, 95);
}
div.criteria_sort_section span.bottom {
border-top: 1px solid rgb(255, 225, 95);
border-radius: 0 0 20px 20px;
margin-bottom: -1px;
}
div.criteria_sort_section span.available {
cursor: pointer;
}
.disable span.selected_sort, span.seat_selection.free.unselected.disable {
animation-name: none;
}
span.selected_sort {
background-color: rgb(255, 225, 95);
color: rgb(20, 0, 40);
animation-name: sort_highlight;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-in;
}
p.not_found {
height: 600px;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: 60px;
}
div.booking_main_content {
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-evenly;
z-index: 1;
position: relative;
padding-top: 25px;
}
div.cinema_hall {
width: 500px;
height: 600px;
border-radius: 20px;
background-color: rgb(35, 0, 70);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
div.seat_section, div.seat_row {
display: flex;
justify-content: center;
}
div.seat_section {
flex-direction: column;
}
span.seat_selection {
height: 60px;
width: 40px;
margin: 2.5px;
border-radius: 20px;
}
span.seat_selection.free {
background-color: rgb(20, 0, 40);
cursor: pointer;
}
span.seat_selection.free.selected {
animation-name: seat_highlight;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-in;
}
span.seat_selection.free.unselected {
animation-name: seat_highlight_back;
animation-fill-mode: forwards;
animation-duration: 250ms;
animation-timing-function: ease-out;
}
span.seat_selection.sold {
background-color: rgb(255, 225, 95);
}
img.cinema_screen {
height: 175px;
width: 300px;
user-select: none;
}
div.cinema_movie_section {
width: 700px;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 10px;
}
p.booking_movie_title, div.selected_seats, button.booking_button {
margin-top: 5px;
margin-bottom: 5px;
}
button.booking_button {
font-family: inherit;
font-weight: inherit;
font-size: 35px;
background-color: rgb(255, 225, 95);
border: 0;
color: rgb(20, 0, 40);
border-radius: 20px;
width: 475px;
height: 50px;
cursor: pointer;
}
div.selected_seats {
display: flex;
font-size: 20px;
justify-content: flex-start;
align-items: center;
width: 700px;
height: 45px;
background-color: rgb(30, 0, 60);
border-radius: 20px;
padding-left: 10px;
}
span.unselect_all {
width: 35px;
height: 35px;
border: 2px solid rgb(255, 225, 95);
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}
span.selected_seats_list {
width: 475px;
display: inline-flex;
overflow-x: scroll;
white-space: nowrap;
}
@keyframes cart_highlight {
    from {
    background-color: rgb(30, 0, 60);
    box-shadow: 0 0 20px 5px rgb(0, 0, 0);
    color: rgb(255, 225, 95);
    }
    to {
    background-color: rgb(35, 0, 70);
    box-shadow: 0 0 10px 5px rgb(255, 215, 30);
    color: rgb(255, 215, 30);
    }
}
@keyframes cart_highlight_back {
    from {
    background-color: rgb(35, 0, 70);
    box-shadow: 0 0 10px 5px rgb(255, 215, 30);
    color: rgb(255, 215, 30);
    }
    to {
    background-color: rgb(30, 0, 60);
    box-shadow: 0 0 20px 5px rgb(0, 0, 0);
    color: rgb(255, 225, 95);
    }
}
@keyframes poster_highlight {
    from {
    border: 4px solid rgb(255, 225, 95);
    }
    to {
    border: 4px solid rgb(255, 215, 30);
    }
}
@keyframes poster_highlight_back {
    from {
    border: 4px solid rgb(255, 215, 30);
    }
    to {
    border: 4px solid rgb(255, 225, 95);
    }
}
@keyframes showtime_highlight {
    from {
    background-color: rgb(255, 225, 95);
    color: rgb(20, 0, 40);
    }
    to {
    background-color: rgb(255, 215, 30);
    color: rgb(25, 0, 50);
    }
}
@keyframes showtime_highlight_back {
    from {
    background-color: rgb(255, 215, 30);
    color: rgb(25, 0, 50);
    }
    to {
    background-color: rgb(255, 225, 95);
    color: rgb(20, 0, 40);
    }
}
@keyframes sort_highlight {
    from {
    background-color:  rgba(30, 0, 60, 0);
    color: rgb(255, 225, 95);
    }
    to {
    background-color: rgb(255, 225, 95);
    color: rgb(20, 0, 40);
    }
}
@keyframes seat_highlight {
    from {
    border: 0;
    }
    to {
    border: 5px solid rgb(255, 215, 30);
    }
}
@keyframes seat_highlight_back {
    from {
    border: 5px solid rgb(255, 215, 30);
    }
    to {
    border: 0;
    }
}
@media (max-width: 1400px) or (max-height: 700px) {
    div.search_section {
    font-size: 45px;
    height: 100px;
    }
    div.search_input {
    height: 75px;
    }
    input.search_input {
    height: 75px;
    padding-left: 60px;
    }
    span.parameter_button {
    width: 75px;
    height: 75px;
    }
    div.movie_card {
    width: 500px;
    }
    div.movie_side_info {
    width: 200px;
    }
    p.movie_title {
    font-size: 30px;
    }
    div.schedule_section {
    flex-wrap: nowrap;
    overflow-y: scroll;
    background-color: rgb(20, 0, 40);
    border-radius: 20px;
    }
    span.movie_showtime {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    padding: 0px;
    }
    div.parameter_menu {
    width: 500px;
    }
    p.menu_title {
    font-size: 45px;
    }
    div.range_slider {
    width: 450px;
    border: 20px solid rgb(20, 0, 40);
    }
    div.range_slider input {
    width: 450px;
    transform: translate(-20px, -55%);  
    }
    input[type="range"]::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
    }
    div.range_values {
    font-size: 20px;
    }
    div.checkbox_section {
    font-size: 40px;
    }
    div.checkbox_section input, span.check_button {
    height: 60px;
    width: 60px;
    }
    div.order_sort_section {
    font-size: 20px;
    width: 450px;
    height: 75px;
    }
    div.order_sort_section span {
    width: 150px;
    height: 75px;
    }
    div.criteria_sort_section {
    width: 450px;
    }
    div.criteria_sort_section span {
    width: 450px;
    height: 60px;
    }
    p.not_found {
    height: 750px;
    }
    div.selected_seats {
    font-size: 40px;
    height: 75px;
    }
    span.unselect_all {
    width: 60px;
    height: 60px;
    }
    span.selected_seats_list {
    width: 300px;
    }
}
@media (max-width: 700px) {
    div.movie_card {
    margin-left: 15px;
    margin-right: 15px;
    }
    div.parameter_menu.filter {
    left: -250px;
    }
    div.parameter_menu.sort {
    left: -335px;
    }
    p.not_found {
    font-size: 45px;
    }
    div.booking_main_content {
    flex-direction: column;
    align-items: center;
    }
    div.cinema_movie_section {
    width: 500px;
    }
    div.selected_seats {
    width: 500px;
    }
    span.selected_seats_list {
    width: 100px;
    }
}